*, *:before, *:after {
    border: none;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Josefin sans', sans-serif;
    font-display: swap;
    font-style: normal;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.hide{
    display: none;
    visibility: hidden; 
}

body{
    background: #27493D;
    color: #ede5a6;
    text-align: center;
    padding: 1rem 2rem;
}

section h2{
    margin: 1rem auto
}
a:visited{
    color: red;
}

a{
    color: #ede5a6;
}

a:focus{
    color: white;
}

canvas{
    height: 100%;
    width: 50%;
    min-width: 20rem;
    max-width: 30rem;
    margin: auto;
    display: block;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

input,
button{
    padding: .5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
}

button span{
    display: none;
}

button.playing span{
    display: inline;
}

#keypad{
    display: block;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 15rem;
    margin: 1rem auto;
}

#keypad button{
    margin: .5rem;
    display: inline-block;
    transition: .3s ease all;
}

#bpmTracker,
#bpmTracker div{
    height: 2rem;
    width: 2rem;
    border: 1px solid rgba(255,255,255,.5);
    border-radius: 50%;
    margin: 1rem auto;
}

#bpmTracker div{
    left: -1px;
    top: -1px;
    position: absolute;
    margin: 0;
    content: "";
    display: block;
    animation: grow .6667s linear infinite forwards;
    border: 3px solid rgba(255,255,255,1);
}

label{
    margin: 1.25rem auto;
    display: block;
}

@keyframes grow{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}