*, *:before, *:after {
    border: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Josefin sans', sans-serif;
    font-display: swap;
    font-style: normal;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.hide{
    display: none;
    visibility: hidden; 
}

body{
    background: #27493D;
    color: #ede5a6;
    text-align: center;
    padding: 1rem 2rem;
}

canvas{
    height: 100%;
    width: 50%;
    min-width: 20rem;
    max-width: 30rem;
    margin: auto;
    display: block;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

input,
button{
    padding: .5rem 1rem;
}